# Manipulation des données
pandas
numpy
scipy

# Machine Learning & Deep Learning
scikit-learn
imblearn
joblib
tensorflow
keras

# Visualisation
seaborn
matplotlib

# API Web & Serveur
flask
gunicorn

# Base de données (SQLAlchemy + PostgreSQL)
flask-sqlalchemy
psycopg2-binary  # Version pré-compilée pour éviter l'erreur pg_config

# Outils de développement
jupyter
